.week-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0 20px 0;
  padding: 2px 12px;
  background: white;
  border-radius: 50px;
  border: 1px solid rgba(226, 232, 240, 0.4);
}

.week-navigation button {
  background-color: white;
  border: none;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  font-size: 15px;
  text-align: center;
  font-weight: 600;
}

.week-separator {
  margin: 0 10px;
  font-weight: 400;
  color: #a9b0b7;
}

table {
  margin-top: 25px;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  border-radius: 12px;
  border: 0.7px solid #eee;
  overflow: hidden;
}

th {
  padding: 12px 8px;
  font-weight: 600;
  border: 0.7px solid #eee;
  text-align: center;
  vertical-align: middle;
}

.date-cell {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  align-items: center;
  justify-content: center;
}

.day-name {
  font-size: 13px;
  font-weight: 500;
  opacity: 0.8;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}

.day-number {
  font-size: 18px;
  font-weight: 600;
  margin-top: 2px;
}

th.today {
  background-color: rgba(3, 47, 244, 0.1);
  font-weight: bold;
}

tr {
  height: 70px;
}

td {
  height: 70px;
  border: 0.7px solid #eee;
  color: #1e293b;
  text-align: center;
  cursor: pointer;
}

td:first-child {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

td:first-child:hover {
  background-color: #f1f5f9;
  font-weight: 500;
}

td:not(:first-child) {
  width: 70px;
  height: 70px;
  padding: 0;
}

td.completed {
  background-color: #2f04ca;
}

td.half {
  background: linear-gradient(-45deg, #2f04ca 50%, transparent 50%);
}
