h1 {
  justify-self: center;
  margin-bottom: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.add-button {
  padding: 13px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.help-button {
  padding: 13px 20px;
  margin-left: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.habbit-input {
  padding: 12px 15px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 15px;
  flex-grow: 1;
}